.kitty-1 {
  border: 2px solid red;
}

#kitty-2 {
  border: 2px solid blue;
}

#basket img {
  border: 2px solid orange;
}

#ball + img {
  border: 2px solid green;
}

img[alt="Kitty 5"] {
  border: 2px solid purple;
}
